<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ngCookbook</title>
	<meta http-equiv="Content-Language" content="en"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="google" value="notranslate"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>

	<!-- jQuery -->
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap -->
	<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- FontAwesome -->
	<link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
	
	<!-- Angular -->
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/bower_components/angular-xenophilous/xenophilous.js"></script>

	<!-- Firebase -->
	<script src="/bower_components/firebase/firebase.js"></script>
	<script src="/bower_components/angularfire/dist/angularfire.min.js"></script>

	<!-- lodash -->
	<script src="/bower_components/lodash/dist/lodash.min.js"></script>

	<!-- ngCookbook -->
	<link rel="stylesheet" href="/assets/css/site.css">

	<script src="/bower_components/blueimp-md5/js/md5.min.js"></script>
</head>

<script>
var app = angular.module("app", [
	'ngResource',
	'firebase'
]);

app.factory('Tree', function($resource) {
	// Obviously this isn't a real REST feed - its a read only file so any operations sent to it will be ignored
	return $resource('tree.json', {}, {
	});
});

// Very simple pretty printer filter
// e.g. {{object | pretty}}
app.filter('pretty', function() {
	return function(value) {
		if (!value)
			return 'null';

		//if (_.isObject(value) && _.has(value, '$value')) // Firebase object - recurse into 'real' value
		//	value = value.$value;

		if (_.isObject(value)) {
			try {
				return JSON.stringify(value, null, '\t');
			} catch(e) {
				return 'Failed to convert: ' + e;
			}
		} else {
			return value.toString(); // FIXME: Stub, this should be improved on
		}
	};
});

// Very simple MD5 calculator
app.filter('md5', function() {
	return function(value) {
		if (!value) {
			return 'null';
		} else {
			return md5(value);
		}
	};
});

app.factory('Randomizer', function($resource){
	return function(tree, options) {
		var settings = _.defaults(options, {
			// Probability of inserting, deleting or otherwise changing an item
			insertChance: 0,
			deleteChance: 0,
			changeChance: 0,

			junkChars: 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
		});

		var branchWorker = function(branch) {
			if (!branch)
				return;

			if (settings.insertChance && Math.random() > settings.insertChance) {
				if (!branch.children)
					branch.children = [];
				var randId = Math.random() * 99999;
				branch.children.push({id: 'random-' + randId, title: 'Random-Item-' + randId});
			}

			if (settings.deleteChance && branch.children && Math.random() > settings.deleteChance) {
				if (branch.children.length == 1) {
					delete branch['children'];
				} else {
					branch.children.splice(Math.floor(Math.random() * branch.children.length), 1);
				}
			}

			if (settings.changeChance && branch.children && Math.random() > settings.changeChance) {
				var childIndex = Math.floor(Math.random() * branch.children.length);
				branch.children[childIndex].title += settings.junkChars.substr(Math.floor(Math.random() * settings.junkChars.length), 1);
			}

			if (branch.children) // Recurse through other children
				_.forEach(branch.children, branchWorker);
		};

		_.forEach(tree, branchWorker);
	};
});

app.controller('syncController', function($scope, $firebase, Tree, Randomizer) {
	// Our complex object we want to sync
	$scope.tree = {};

	// Boot firebase
	// This URL is our ngCookbook Sandbox URL - please dont abuse it or I will find you and end you - MC
	$scope.firebase = $firebase(new Firebase('https://blinding-inferno-291.firebaseio.com/'));

	$scope.tree = $scope.firebase.$asObject();
	$scope.tree.$bindTo($scope, 'tree');

	// Deal with initial state - populate from JSON file
	$scope.reset = function() {
		Tree.query().$promise.then(function(data) {
			$scope.tree = data;
		});
	};

	$scope.tree.$loaded(function(data) {
		if ('$value' in data && data.$value == null) {
			console.log('Firebase object is empty - repopulating');
			$scope.reset();
		};
	});

	// Apply actions to the tree via the Randomizer service
	$scope.randomize = function(options) {
		Randomizer($scope.tree, options);
	};
});
</script>

<body ng-app="app">
	<div ng-init="title = 'Firebase Sync'" ng-include="'../../navbar.html'"></div>

	<div ng-controller="syncController" class="container">

		<div class="row well">
			<a ng-click="randomize({insertChance: 0.5})" class="btn btn-default">Randomize inserts</a>
			<a ng-click="randomize({deleteChance: 0.5})" class="btn btn-default">Randomize deletes</a>
			<a ng-click="randomize({changeChance: 0.5})" class="btn btn-default">Randomize changes</a>
			<a ng-click="reset()" class="btn btn-default">Reset data</a>
		</div>
		
		<div class="row">
			<dl class="dl-horizontal">
				<dt>MD5</dt>
				<dd>{{tree | pretty | md5}}</dd>
			</dl>
			<pre>{{tree | pretty}}</pre>
		</div>

	</div>

</body>
