<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ngCookbook</title>
	<meta http-equiv="Content-Language" content="en"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="google" value="notranslate"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="yes"/>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>

	<!-- jQuery -->
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap -->
	<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- FontAwesome -->
	<link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
	
	<!-- Angular -->
	<script src="/bower_components/angular/angular.min.js"></script>
	<script src="/bower_components/angular-resource/angular-resource.min.js"></script>
	<script src="/bower_components/angular-route/angular-route.min.js"></script>
	<script src="/bower_components/ng-xenophilous/ngXenophilous.js"></script>

	<!-- lodash -->
	<script src="/bower_components/lodash/dist/lodash.min.js"></script>

	<!-- ngCookbook -->
	<link rel="stylesheet" href="/assets/css/site.css">
</head>

<script>
var app = angular.module("app", []);

app.controller('menuController', function($scope) {

	$scope.links = [
		{
			url: 'recipes/tables/index.html',
			title: 'Displaying collections as tables + selecting active elements',
			keywords: ['tables', 'crud', 'data', 'feed', 'ngresource']
		},
		{
			url: 'recipes/rest-basic/index.html',
			title: 'Example REST using a static JSON file',
			keywords: ['crud', 'rest', 'data', 'feed', 'json']
		},
		{
			url: 'recipes/modals/index.html',
			title: 'Editing multiple records from a table via a Bootstrap modal',
			keywords: ['crud', 'rest', 'data', 'feed', 'json', 'bootstrap', 'modal']
		},
		{
			url: 'recipes/reddit/index.html',
			title: 'Example cross-domain REST data feed from Reddit.com',
			keywords: ['crud', 'rest', 'data', 'feed', 'json', 'x-site', 'x-domain', 'cors']
		},
		{
			url: 'recipes/rest-autorefresh/index.html',
			title: 'REST data feed from Reddit.com with periodic auto-refresh',
			keywords: ['crud', 'rest', 'data', 'feed', 'json', 'x-site', 'x-domain', 'cors', 'auto', 'refresh']
		}
	];

});
</script>

<body ng-app="app">
	<div ng-include="'navbar.html'"></div>

	<div ng-controller="menuController" class="container">
		
		<h1>ngCookbook</h1>
		<div class="lead">A collection of useful Angular examples suitable for dropping into existing frontend deployments.</div>
		<div class="lead">View online at <a href="http://ngcookbook.hashbang.net">http://ngcookbook.hashbang.net</a></div>
		
		<div class="row">
			<h3>Table of contents</h3>
			<table class="table">
				<tr ng-repeat="link in links">
					<td><a ng-href="{{link.url}}">{{$index+1}}</a></td>
					<td><a ng-href="{{link.url}}">{{link.title}}</a></td>
					<td class="text-right"><a ng-href="{{link.url}}">
						<span ng-repeat="keyword in link.keywords" class="badge badge-info"><i class="fa fa-tag"></i> {{keyword}}</span>
					</a></td>
				</tr>
			</table>
		</div>

	</div>

	<div class="container">
		<div class="row">
			<h1>Forking or installing this repo</h1>
		</div>

		<div class="row">
			<p>Either use Git to download this repo so you can work on it:</p>
<pre># Clone the repo
git clone git@github.com:hash-bang/ngCookbook.git

# Install all bower components
bower install
</pre>

			<p>Or fork this repo and work on it yourself.</p>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<h1>Recipe rules</h1>
		</div>

		<div class="row">
			<p>All ngCookbook examples must conform to the following standards:</p>
			<ul>
				<li>Each example must occupy its own folder - including image, css, json or other assets</li>
				<li>Each example should be as minimal and to the point as possible</li>
				<li>Each example should endevour to be as copy/paste compatible as possible</li>
				<li>Each should make adequate use of Bootstrap for layout but not use too many custom CSS or JavaScript elements that would be found outside of a regular website</li>
			</ul>
		</div>
	</div>
</body>
