a[ng-click], a[data-dismiss] {
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

td > a {
	display: block;
	color: black;
}

.badge {
	margin-right: 2px;
}

/* .badge-info no longer part of base Bootstrap annoyingly */
.badge-info {
	background-color: #3a87ad;
}
.badge-info:hover {
	background-color: #2d6987;
}

/* Table styles {{{ */
.table-crud td {
	vertical-align: middle !important;
}

.table-crud td:first-child {
	padding: 4px !important;
}

.table-crud td:first-child > .btn-group {
	float: left;
	margin-right: 7px;
}

.table-crud td:first-child > a {
	margin-top: 4px;
}

/* }}} */

/* Padding helpers {{{ */
.pad, .pad-sm, .pad-lg, .pad-xl {display:block;}
.pad, table.pad td {padding: 20px;}
.pad-sm, table.pad-sm td {padding: 10px;}
.pad-lg, table.pad-lg td {padding: 30px;}
.pad-xl, table.pad-xl td {padding: 50px;}
.pad-top, .pad-top-sm, .pad-top-lg, .pad-top-xl {display:block;}
.pad-top, table.pad-top td {padding-top: 20px;}
.pad-top-sm, table.pad-top-sm td {padding-top: 10px;}
.pad-top-lg, table.pad-top-lg td {padding-top: 30px;}
.pad-top-xl, table.pad-top-xl td {padding-top: 50px;}
.pad-right, .pad-right-sm, .pad-right-lg, .pad-right-xl {display:block;}
.pad-right, table.pad-right td {padding-right: 20px;}
.pad-right-sm, table.pad-right-sm td {padding-right: 10px;}
.pad-right-lg, table.pad-right-lg td {padding-right: 30px;}
.pad-right-xl, table.pad-right-xl td {padding-right: 50px;}
.pad-bottom, .pad-bottom-sm, .pad-bottom-lg, .pad-bottom-xl {display:block;}
.pad-bottom, table.pad-bottom td {padding-bottom: 20px;}
.pad-bottom-sm, table.pad-bottom-sm td {padding-bottom: 10px;}
.pad-bottom-lg, table.pad-bottom-lg td {padding-bottom: 30px;}
.pad-bottom-xl, table.pad-bottom-xl td {padding-bottom: 50px;}
.pad-left, .pad-left-sm, .pad-left-lg, .pad-left-xl {display:block;}
.pad-left, table.pad-left td {padding-left: 20px;}
.pad-left-sm, table.pad-left-sm td {padding-left: 10px;}
.pad-left-lg, table.pad-left-lg td {padding-left: 30px;}
.pad-left-xl, table.pad-left-xl td {padding-left: 50px;}
/* }}} */
